#define SSID "AMRITA-Connect-2.4GHz"
#define USERNAME ""
#define PASSWORD ""
#define SECRET_KEY ""
#define GRAPHQL_ENDPOINT ""
#define TIME_API_KEY ""
#define MAC_ADDRESS {0x00, 0x00, 0x00, 0x00, 0x00, 0x00}